* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  width: 300px;
  height: 300px;
  border: 2px solid #fa5893;
}

span {
  color: #fa5893;
}

a:active {
  color:blue;
}

.main-content-text:nth-child(2n) {
  border: 5px solid red;
}
